<div class="container center">
    <div class="w-50 mx-auto card">
        <div class="card-body">
            <h2>Welcome to {{ title }}! {{ username }}</h2>
            <p>Sign in to continue</p>
        </div>
        <hr />
        <div class="card-body">
            <form [formControl]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input
                        [(ngModel)]="username"
                        type="text"
                        class="form-control"
                        id="username"
                        placeholder="Enter username"
                        name="username"
                    />
                </div>
                <div class="form-group">
                    <label for="password1">Password</label>
                    <input
                        [(ngModel)]="password"
                        type="password"
                        class="form-control"
                        id="password1"
                        placeholder="Password"
                        name="password"
                    />
                </div>

                <div class="form-group form-check">
                    <input
                        type="checkbox"
                        class="form-check-input"
                        id="remember-me-check"
                    />
                    <label class="form-check-label" for="remember-me-check"
                        >Remember me</label
                    >
                </div>
                <input type="submit" class="btn btn-primary d-block w-100" />
            </form>
            <!-- add forget password link -->
            <div class="text-center mt-2">
                <a href="#">Forget Password?</a>
            </div>
        </div>
    </div>
</div>
