<div class="container-fluid">
    <div
        style="height: 15rem"
        class="bg-primary d-flex align-items-center text-center text-white"
    >
        <h2 class="flex-fill">
            How to create a rubrics or question template for your assessment?
        </h2>
    </div>
    <div class="my-4">
        <div class="card text-center shadow">
            <div class="card-body">
                <h3 class="card-title">Create rubrics!</h3>
                <div class="card-text">
                    <p>There are two ways to create a rubrics.</p>
                </div>
                <div class="d-flex">
                    <div
                        class="w-50 p-4 rounded bg-light"
                        style="border: 1px solid #4277ff"
                    >
                        <h5>Upload Template</h5>
                        <p
                            class="d-inline-block px-4 rounded-pill bg-success text-white fw-bold"
                        >
                            Suggested!
                        </p>
                        <p>
                            The excel template can be downloaded
                            <a
                                href="../../../assets/template/rubrics-template.xlsx"
                                download
                                >here</a
                            >.
                        </p>
                        <div>
                            <ol>
                                <li>
                                    Just fill in the excel template with your
                                    custom rubrics. (Red color represents
                                    uneditable)
                                </li>
                                <li>
                                    Upload the rubrics to the system. That's it!
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="w-50 p-4">
                        <h5>Manually Input</h5>
                        <p>
                            You will need to input your rubrics into the rubrics
                            table.
                        </p>
                        <div>
                            <ol>
                                <li>
                                    You can edit the cell by double clicking a
                                    row.
                                </li>
                                <li>Modify the details for each criterion.</li>
                                <li>
                                    You can add/delete a column by clicking the
                                    <fa-icon
                                        [icon]="faPlusCircle"
                                        class="text-primary"
                                    ></fa-icon>
                                    or
                                    <fa-icon
                                        [icon]="faTrashAlt"
                                        class="text-danger"
                                    ></fa-icon>
                                    beside the first row (mark ranges).
                                </li>
                                <li>
                                    You can add a row by clicking the
                                    <i>add row</i> button beneath the table.
                                </li>
                                <li>
                                    You can delete a row by clicking the
                                    <fa-icon
                                        [icon]="faTrashAlt"
                                        class="text-danger"
                                    ></fa-icon>
                                    at the first column of the row.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="my-4">
        <div class="card text-center shadow">
            <div class="card-body">
                <h3 class="card-title">Create question!</h3>
                <div class="card-text">
                    <p>There are three ways to create a question template.</p>
                </div>
                <div class="d-flex flex-wrap">
                    <div
                        class="w-50 p-4 rounded bg-light"
                        style="border: 1px solid #4277ff"
                    >
                        <h5>Upload Template</h5>
                        <p
                            class="d-inline-block px-4 rounded-pill bg-success text-white fw-bold"
                        >
                            Suggested!
                        </p>
                        <p>
                            The excel template can be downloaded
                            <a
                                href="../../../assets/template/question-template.xlsx"
                                download
                                >here</a
                            >.
                        </p>
                        <div>
                            <ol>
                                <li>
                                    Just fill in the excel template with your
                                    custom questions. (Red color represents
                                    uneditable)
                                </li>
                                <li>
                                    Upload the rubrics to the system. That's it!
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div
                        class="w-50 p-4 rounded bg-light"
                        style="border: 1px solid #4277ff"
                    >
                        <h5>Upload Moodle-Exported Template</h5>
                        <p
                            class="d-inline-block px-4 rounded-pill bg-success text-white fw-bold"
                        >
                            Suggested!
                        </p>
                        <div>
                            <ol>
                                <li>
                                    Export the question in .csv format from your
                                    Moodle Question Bank.
                                </li>
                                <li>
                                    Upload the exported file in .csv format to
                                    the system.
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="w-50 p-4">
                        <h5>Manually Input</h5>
                        <p>
                            You will need to input your question into the table.
                        </p>
                        <div>
                            <ol>
                                <li>
                                    Click the <i>+ Add Question</i> to add a new
                                    question.
                                </li>
                                <li>Input the question details.</li>
                                <li>Click <i>save</i> to save the question.</li>
                                <li>
                                    To delete the question, click the
                                    <fa-icon
                                        [icon]="faTrashAlt"
                                        class="text-danger"
                                    ></fa-icon>
                                    beside the edit button.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
