<div style="height: 450px" class="bg-primary">
    <div class="container d-flex align-items-stretch h-100 ">
        <div class="flex-fill fw-bold align-self-center text-white" style="font-size: 3em">
            Onscreen
            <br>
            Marking System
        </div>
        <div class="flex-fill">
            <img src="../../../assets/education.png" alt="">
        </div>
    </div>
</div>
<div class="container p-4 text-center">
    <h2>A system that helps you to mark assessment online!</h2>
</div>