<div id="content-body">
    <div class="container" *ngIf="!isLoading">
        <div class="card my-4">
            <div class="card-body">
                <h4 class="card-title">Reset your password</h4>
                <div
                    *ngIf="errorMessage.length > 0"
                    class="alert alert-danger"
                    role="alert"
                >
                    {{ errorMessage }}
                </div>
                <p>Enter your email address</p>
                <input
                    type="email"
                    class="form-control"
                    [(ngModel)]="recoveryEmail"
                    autofocus
                />
                <button class="btn btn-primary mt-4" (click)="onSubmit()">
                    Send Link
                </button>
            </div>
        </div>
    </div>
</div>

<mat-spinner
    *ngIf="isLoading"
    [strokeWidth]="2"
    [diameter]="150"
    class="mx-auto mt-5"
></mat-spinner>
