<div class="container my-4">
    <h2 class="heading"><span>User Profile</span></h2>

    <div>
        <div class="card w-75 mx-auto my-5 shadow rounded">
            <div class="card-body">
                <div>
                    <h5 class="card-title">
                        {{ currentUser.username }}
                        <span
                            *ngIf="currentUser.is_superuser"
                            class="badge rounded-pill bg-secondary text-white px-2 ml-2"
                            >Admin</span
                        >
                    </h5>
                    <p>
                        {{ currentUser.first_name }} {{ currentUser.last_name }}
                    </p>
                </div>
            </div>
            <hr class="dropdown-divider" />
            <div class="card-body">
                <div *ngIf="errorMessageOnSave.length > 0" class="alert alert-danger" role="alert">
                    {{ errorMessageOnSave }}
                </div>
                <form [formGroup]="userInfoForm">
                    <table class="table">
                        <h5 class="mb-4 text-primary">Information</h5>
                        <tbody class="border-top">
                            <tr>
                                <td>Username</td>
                                <td *ngIf="!isEditing">
                                    {{ currentUser.username }}
                                </td>

                                <td *ngIf="isEditing">
                                    <span
                                        ngbTooltip="Sorry! Username is not editable :("
                                        triggers="mouseenter:mouseleave"
                                        placement="right"
                                        >{{ currentUser.username }}</span
                                    >
                                </td>
                            </tr>
                            <tr>
                                <td>First Name</td>
                                <td *ngIf="!isEditing">
                                    {{ currentUser.first_name }}
                                </td>
                                <td *ngIf="isEditing">
                                    <div>
                                        <input
                                            type="text"
                                            class="form-control"
                                            formControlName="firstName"
                                        />
                                        <error-message
                                            ngDefaultControl
                                            [formControl]="firstName"
                                        ></error-message>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td *ngIf="!isEditing">
                                    {{ currentUser.last_name }}
                                </td>
                                <td *ngIf="isEditing">
                                    <div>
                                        <input
                                            type="text"
                                            class="form-control"
                                            formControlName="lastName"
                                        />
                                        <error-message
                                            ngDefaultControl
                                            [formControl]="lastName"
                                        ></error-message>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td *ngIf="!isEditing">
                                    {{ currentUser.email }}
                                </td>
                                <td *ngIf="isEditing">
                                    <div>
                                        <input
                                            type="email"
                                            class="form-control"
                                            formControlName="email"
                                        />
                                        <error-message
                                            ngDefaultControl
                                            [formControl]="email"
                                        ></error-message>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Date Joined</td>
                                <td *ngIf="!isEditing">
                                    {{
                                        currentUser.date_joined
                                            | date: "dd/MM/y"
                                    }}
                                </td>
                                <td *ngIf="isEditing">
                                    <span
                                        ngbTooltip="Sorry! Your joining date is not editable :("
                                        triggers="mouseenter:mouseleave"
                                        placement="right"
                                    >
                                        {{
                                            currentUser.date_joined
                                                | date: "dd/MM/y"
                                        }}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <button
                    *ngIf="!isEditing"
                    (click)="openModal(passwordModal)"
                    class="btn btn-outline-primary"
                >
                    Change Password
                </button>
                <button
                    *ngIf="!isEditing"
                    (click)="editUserInfo()"
                    class="btn btn-primary float-right"
                >
                    Edit
                </button>
                <button
                    *ngIf="isEditing"
                    (click)="onSave()"
                    class="btn btn-success text-white float-right"
                    autofocus
                >
                    Save
                </button>
                <button
                    *ngIf="isEditing"
                    (click)="cancelEdit()"
                    class="btn btn-outline-secondary float-right mr-2"
                >
                    Cancel
                </button>

            </div>
        </div>
    </div>
</div>

<ng-template let-modal #passwordModal>
    <div class="modal-header">
        <h4 class="modal-title">Change Password</h4>
        <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss()"
        ></button>
    </div>
    <div class="modal-body">
        <div *ngIf="errorMessage.length > 0" class="alert alert-danger" role="alert">
            {{ errorMessage }}
        </div>
        <form [formGroup]="passwordForm">
            <div class="form-group">
                <label for="currentPassword">Current Password</label>
                <input
                    type="password"
                    class="form-control d-inline-block mr-2"
                    style="width: 93%"
                    id="currentPassword"
                    formControlName="currentPassword"
                    placeholder="Enter your current password"
                    name="currentPassword"
                />
                <fa-icon
                    #icon1
                    class="text-secondary"
                    (click)="togglePasswordVisibility('currentPassword', icon1)"
                    [icon]="faEyeSlash"
                ></fa-icon>
                <error-message
                ngDefaultControl
                [formControl]="currentPassword"
            ></error-message>
            </div>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input
                    type="password"
                    class="form-control d-inline-block mr-2"
                    style="width: 93%;"
                    id="newPassword"
                    formControlName="newPassword"
                    placeholder="Enter your new password"
                    name="newPassword"
                />
                <fa-icon
                    #icon2
                    class="text-secondary"
                    (click)="togglePasswordVisibility('newPassword', icon2)"
                    [icon]="faEyeSlash"
                ></fa-icon>
                <error-message
                    ngDefaultControl
                    [formControl]="newPassword"
                ></error-message>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input
                    type="password"
                    class="form-control d-inline-block mr-2"
                    style="width: 93%"
                    id="confirmPassword"
                    formControlName="confirmPassword"
                    placeholder="Enter your new password again"
                    name="confirmPassword"
                />
                <fa-icon
                    #icon3
                    class="text-secondary"
                    (click)="togglePasswordVisibility('confirmPassword', icon3)"
                    [icon]="faEyeSlash"
                ></fa-icon>
                <error-message
                    ngDefaultControl
                    [formControl]="confirmPassword"
                ></error-message>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button (click)="onNewPasswordSubmit()" class="btn btn-primary" ngbAutofocus>
            Save
        </button>
    </div>
</ng-template>
