<div style="width: 80%" class="pl-4 pr-5">
    <div *ngIf="assessment && answerScript">
        <!-- {{ answerScript | json }} -->
        <!-- <br />
        {{ assessment | json }} -->
    </div>
    <!-- <div *ngIf="isFloatingBarShowed">SHOW BAR</div> -->
    <ng-template #floatToolbar>
        <button
            class="btn btn-sm btn-outline-primary d-inline-block"
            style="width: 2rem"
            (click)="highlightText(['highlight-correct'])"
        >
            <fa-icon [icon]="faCheck"> </fa-icon>
        </button>
        <button
            class="btn btn-sm btn-outline-danger d-inline-block ml-2"
            style="width: 2rem"
            (click)="highlightText(['highlight-wrong'])"
        >
            <fa-icon [icon]="faTimes"> </fa-icon>
        </button>
    </ng-template>

    <div id="answerscript-content">
        <div
            *ngIf="isEssayBased"
            id="pdf-div"
            class="pdf-view"
            style="height: 90vh"
        ></div>
        <div *ngIf="!isEssayBased">
            <div
                *ngFor="let question of assessment.questions; let i = index"
                class="my-4"
            >
                <h5>Q{{ question.no }}) {{ question.value.question }}</h5>
                <!-- target for popover -->
                <app-highlight-text
                    class="highlight-text-container"
                    [answer]="answerScript.answers[i]"
                    [ngbPopover]="floatToolbar"
                    #p="ngbPopover"
                    (mousedown)="p.open()"
                    (mousedown)="p.close()"
                >
                </app-highlight-text>
            </div>
        </div>
    </div>
    <div id="sideNav" class="bg-white p-3" style="width: 20%">
        <div *ngIf="assessment">
            <div *ngIf="isEssayBased">
                <div *ngIf="!isRubricsDetailsShowed">
                    <mat-selection-list
                        #generalCriteriaList
                        id="generalCriteriaList"
                        [multiple]="false"
                        (selectionChange)="onGeneralCriteriaChanged()"
                    >
                        <mat-list-option
                            *ngFor="
                                let c of assessment.rubrics.criterion;
                                let i = index
                            "
                            [value]="c"
                            class="border"
                        >
                            {{ c.title }}
                            <input
                                [id]="'input-' + i"
                                disabled
                                class="form-control w-25 text-center"
                                [ngModel]="
                                    marks.distribution[i].marksAwarded != null
                                        ? (marks.distribution[i].marksAwarded *
                                              c.totalMarks) /
                                          100
                                        : 0
                                "
                            />
                        </mat-list-option>
                    </mat-selection-list>
                </div>
                <div *ngIf="isRubricsDetailsShowed">
                    <a
                        (click)="
                            isRubricsDetailsShowed = !isRubricsDetailsShowed
                        "
                        class="btn btn-primary"
                    >
                        back
                    </a>
                    <mat-selection-list
                        #detailCriteriaList
                        [multiple]="false"
                        (selectionChange)="onDetailedCriteriaChanged()"
                    >
                        <h3>{{ selectedCriterion.title }}</h3>
                        <mat-list-option
                            *ngFor="
                                let detail of selectedCriterion.columns;
                                let i = index
                            "
                            [value]="detail"
                            class="border"
                            [ngClass]="{
                                expandedList:
                                    detail == selectedDetailedCriterion
                            }"
                        >
                            {{ detail.description }}
                            <div>
                                {{ assessment.rubrics.marksRange[i].min }}
                                -
                                {{ assessment.rubrics.marksRange[i].max }}
                            </div>
                            <div *ngIf="detail == selectedDetailedCriterion">
                                <input
                                    class="form-control w-50 d-inline"
                                    type="number"
                                    min="{{
                                        assessment.rubrics.marksRange[i].min
                                    }}"
                                    max="{{
                                        assessment.rubrics.marksRange[i].max
                                    }}"
                                    [(ngModel)]="
                                        marks.distribution[
                                            selectedCriterionIndex
                                        ].marksAwarded
                                    "
                                    (change)="onMarkAwardedChanged($event)"
                                />
                            </div>
                        </mat-list-option>
                    </mat-selection-list>
                </div>
            </div>
            <div *ngIf="!isEssayBased">
                <mat-list role="list" id="questionMarksPanel">
                    <mat-list-item
                        *ngFor="
                            let question of assessment.questions;
                            let i = index
                        "
                        class="border"
                        role="listitem"
                    >
                        Question {{ question.no }}
                        <input
                            type="number"
                            class="form-control text-center ml-auto"
                            style="width: 30%"
                            min="0"
                            max="{{ question.value.marks }}"
                            [(ngModel)]="marks.distribution[i].marksAwarded"
                            (change)="onMarkAwardedChanged($event)"
                        />
                        /
                        {{ question.value.marks }}
                    </mat-list-item>
                </mat-list>
            </div>
            <div class="position-absolute bottom-0 end-0 w-100 bg-white">
                <div class="pl-4">
                    Marks: {{ marks.totalMark ? marks.totalMark : 0 }}
                </div>
                <button
                    class="btn btn-primary w-100"
                    style="height: 3rem"
                    (click)="onSubmit()"
                >
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>
