@import "../../styles.scss";

.notransition {
    background-color: red !important;
}

div#sideNav {
    position: fixed;
    top: 3.5rem;
    bottom: 0;
    right: 1rem;
}

.expandedList {
    height: auto !important;
}

#detailCriteriaList mat-list-option,
#generalCriteriaList mat-list-option {
    height: auto;
    padding: 0.5rem auto !important;
    transition: 300ms;
}

mat-list-option:not(:first-child) {
    margin: 1rem 0 !important;
    padding: 0.5rem auto !important;
    transition: 300ms;
}

mat-list-option{
    height: auto !important;
}


div.mat-list-text {
    padding: 0.5rem 0 1rem !important;
}
