div#sideNav {
    position: fixed;
    top: 3.5rem;
    bottom: 0;
    right: 1rem;
}

.expandedList {
    height: 100px !important;
}

.mat-list-base .mat-list-item .mat-list-text, .mat-list-base .mat-list-option .mat-list-text,
#generalCriteriaList mat-list-option div.mat-list-text {
    flex-direction: row;
    align-items: center;
    background-color: red;
}

#generalCriteriaList mat-list-option {
    height: 5rem;
}
