@import "../../styles.scss";

.notransition {
    background-color: red !important;
}

div#sideNav {
    position: fixed;
    top: 3.5rem;
    bottom: 0;
    right: 1rem;
}

.expandedList {
    height: auto !important;
}


#detailCriteriaList mat-list-option,
#generalCriteriaList mat-list-option {
    height: auto;
    transition: 300ms;
}

#questionMarksPanel .mat-list-item-content{
    align-items: start !important;
    flex-direction: column !important;
}

#questionMarksPanel mat-list-item {
    padding: 0.80rem 0 !important;
}

#questionMarksPanel mat-list-item:not(:first-child),
mat-list-option:not(:first-child) {
    margin: 1rem 0 !important;
}

#questionMarksPanel mat-list-item,
mat-list-option{
    height: auto !important;
}


div.mat-list-text {
    padding: 0.5rem 0 1rem !important;
}
