<form id="questionForm">
    <div class="form-group d-flex align-items-center mt-2">
        <label for="totalMark" class="mr-4">Total Mark</label>
        <input
            type="text"
            class="form-control w-25 d-block ml-auto"
            id="totalMark"
            name="totalMark"
            [(ngModel)]="totalMarks"
            disabled
        />
    </div>
</form>

<button *ngIf="isEditingMode" class="btn btn-primary d-block ml-auto" (click)="addQuestion()">
    + Add Question
</button>


<table mat-table [dataSource]="questions" class="mat-elevation-z8 w-100 my-4">
    <ng-container matColumnDef="drag">
        <th mat-header-cell *matHeaderCellDef style="width: 5%">Drag</th>
        <td mat-cell *matCellDef="let element">
            <fa-icon [icon]="faEllipsisV"></fa-icon>
        </td>
    </ng-container>
    <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef style="width: 10%">No.</th>
        <td mat-cell *matCellDef="let element">
            <span *ngIf="!element.isEdit">
                {{ element.no }}
            </span>
            <span *ngIf="element.isEdit">
                <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="element.no"
                />
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="question">
        <th mat-header-cell *matHeaderCellDef style="width: 60%">Questions</th>
        <td mat-cell *matCellDef="let element">
            <span *ngIf="!element.isEdit">
                {{ element.value.question }}
            </span>
            <span *ngIf="element.isEdit">
                <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="element.value.question"
                />
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="marks">
        <th mat-header-cell *matHeaderCellDef style="width: 10%">Marks</th>
        <td mat-cell *matCellDef="let element">
            <span *ngIf="!element.isEdit">
                {{ element.value.marks }}
            </span>
            <span *ngIf="element.isEdit">
                <input
                    type="number"
                    class="form-control"
                    [(ngModel)]="element.value.marks"
                />
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="width: 20%"></th>
        <td mat-cell *matCellDef="let element">
            <div *ngIf="!element.isEdit" class="text-end">
                <button class="btn btn-link" (click)="deleteQuestion(element)">
                    <fa-icon [icon]="faTrashAlt" style="color: red"></fa-icon>
                </button>
                <button
                    (click)="updateQuestion(element)"
                    class="btn btn-outline-primary"
                >
                    Edit
                </button>
            </div>
            <div *ngIf="element.isEdit" class="text-end">
                <button
                    (click)="updateQuestion(element)"
                    class="btn btn-primary"
                >
                    Save
                </button>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="isEditingMode ? questionDisplayedColumns : questionReviewColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: isEditingMode ? questionDisplayedColumns : questionReviewColumns"></tr>
</table>
