.mat-row:hover {
    cursor: pointer;
    background-color: rgba(66, 119, 255, 0.15);
}

.mat-row.selected .mat-cell {
    background-color: rgba(66, 119, 255, 0.15);
}

tr.bg-primary > th {
    color: white;
}

div#sideNav {
    position: fixed;
    top: 3.5rem;
    bottom: 0;
    right: 1rem;
}

::ng-deep .mat-sort-header-arrow {
    color: #fff !important;
}

.mark-btn {
    background-color: #fff;
}

.mark-btn:hover {
    background-color: #4277FF;
}