<div *ngIf="!isLoading">
    <div style="width: 80%" class="px-4">
        <div>
            <div>
                <h1 class="d-inline">
                    {{ assessment.name }}
                </h1>
                <fa-icon
                    (click)="loadCollaborators(); openModal(assessmentSetting)"
                    style="font-size: 1.75em; cursor: pointer"
                    class="text-secondary"
                    [icon]="faCog"
                ></fa-icon>

                <button
                    (click)="openModal(content)"
                    class="btn btn-primary float-right"
                >
                    Upload Script
                </button>
            </div>
            <div>
                <mat-form-field appearance="standard" style="width: 78%">
                    <mat-label>Filter</mat-label>
                    <input
                        matInput
                        type="text"
                        (keyup)="filterValue($event)"
                        class="d-inline-block"
                        placeholder="enter student name, student id or status"
                    />
                </mat-form-field>

                <select
                    class="form-select my-2 d-inline-block"
                    style="width: 20%; margin-left: 1rem"
                    name="markingSettings"
                    id="markingSettingSelect"
                >
                    <option
                        *ngFor="let setting of markingSettings"
                        value="setting"
                        [selected]="assessment.marking_setting == setting"
                    >
                        {{ setting.replaceAll("_", " ") | titlecase }}
                    </option>
                </select>
            </div>
        </div>
        <div
            id="table-container"
            style="max-height: 75vh; overflow: hidden auto"
            class="shadow"
        >
            <table
                mat-table
                matSort
                [dataSource]="answerScripts"
                class="mat-table w-100"
            >
                <ng-container matColumnDef="studentName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Student Name</th>
                    <td mat-cell *matCellDef="let answer">
                        {{ answer.student_name }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="studentId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Student ID</th>
                    <td mat-cell *matCellDef="let answer">
                        {{ answer.student_id }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="lastUpdate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Update</th>
                    <td mat-cell *matCellDef="let answer">
                        {{ answer.date_updated | date: "dd/MM/yyyy, hh:mm a" }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                    <td mat-cell *matCellDef="let answer">
                        <span
                            class="rounded-pill py-1 px-2 text-white"
                            [class]="{
                                'bg-primary':
                                    answer.status[markerIndex].status ===
                                    'In Progress',
                                'bg-secondary':
                                    answer.status[markerIndex].status ===
                                    'Not Started',
                                'bg-success':
                                    answer.status[markerIndex].status ===
                                    'Finished'
                            }"
                        >
                            {{ answer.status[markerIndex].status }}
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="marks">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Marks</th>
                    <td mat-cell *matCellDef="let answer">
                        {{
                            answer.marks[markerIndex].totalMark
                                ? answer.marks[markerIndex].totalMark
                                : "-"
                        }}
                    </td>
                </ng-container>

                <tr
                    mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                    class="bg-primary"
                ></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    [ngClass]="{ selected: selection.selected[0] === row }"
                    (click)="onRowSelect(row)"
                ></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row text-center" *matNoDataRow>
                    <td class="mat-cell" colspan="5">No answer script found! :(</td>
                  </tr>
            </table>
        </div>
    </div>
    <div id="sideNav" class="bg-white p-3" style="width: 20%">
        <div
            id="sideNavBar"
            class="position-absolute top-0 start-0 end-0 bg-primary shadow rounded py-2 px-3"
            style="z-index: 10"
        >
            <span routerLink="/assessment-list/" style="cursor: pointer">
                <fa-icon
                    [icon]="faArrowAltCircleLeft"
                    style="font-size: 1.75em"
                    class="text-white"
                ></fa-icon>
            </span>
            <span
                style="cursor: pointer"
                (click)="downloadGradebook()"
                class="float-right"
                ngbTooltip="download gradebook"
                [openDelay]="800"
            >
                <fa-icon
                    [icon]="faFileDownload"
                    style="font-size: 1.7em"
                    class="text-white"
                ></fa-icon>
            </span>
        </div>

        <div id="assessmentInfo" style="overflow: hidden auto; height: 75vh">
            <div id="assessmentBriefInfo" style="margin-top: 3.5rem">
                <h4>Your Progress</h4>
                <p>
                    <ngb-progressbar
                        type="primary"
                        [value]="calculateProgress()"
                    ></ngb-progressbar>
                </p>
                <small class="text-end d-block"
                    >{{ finished }}/{{ answerScripts.data.length }}</small
                >
            </div>
            <div *ngIf="selection.selected.length > 0" class="my-4">
                <div id="selectedAnswerScriptInfo">
                    <h4>Marks</h4>
                    <div *ngIf="assessment.type === 'essay_based'">
                        <div
                            *ngFor="
                                let c of assessment.rubrics.criterion;
                                let i = index
                            "
                            class="row my-2"
                        >
                            <div class="col-8">
                                {{ c.title | titlecase }}
                            </div>
                            <div class="col">
                                {{
                                    selection.selected[0].marks[markerIndex]
                                        .distribution[i].marksAwarded
                                        ? (selection.selected[0].marks[
                                              markerIndex
                                          ].distribution[i].marksAwarded *
                                              c.totalMarks) /
                                          100
                                        : "-"
                                }}
                            </div>
                        </div>
                    </div>
                    <div *ngIf="assessment.type === 'question_based'">
                        <!-- {{assessment.questions | json}} -->
                        <div
                            *ngFor="
                                let q of assessment.questions;
                                let i = index
                            "
                        >
                            <div class="row my-2">
                                <div class="col-8">Question {{ i + 1 }}</div>
                                <div class="col">
                                    {{
                                        selection.selected[0].marks[markerIndex]
                                            .distribution[i].marksAwarded
                                            ? selection.selected[0].marks[
                                                  markerIndex
                                              ].distribution[i].marksAwarded
                                            : "-"
                                    }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row my-4">
                        <div class="col-8">
                            <h5>Total Mark</h5>
                        </div>
                        <div class="col">
                            <p>
                                {{
                                    selection.selected[0].marks[markerIndex]
                                        .totalMark
                                }}/
                                <span class="text-secondary">{{
                                    totalMarks
                                }}</span>
                            </p>
                        </div>
                    </div>

                    <h4>Comment</h4>
                    <p>
                        {{selection.selected[0].comment[markerIndex].comment}}
                    </p>
                </div>
            </div>
        </div>

        <div class="position-absolute" style="bottom: 0; left: 0; right: 0">
            <button
                *ngIf="selection.selected.length > 0"
                routerLink="/marking/{{ selection.selected[0].id }}"
                class="btn btn-primary d-block w-100"
                style="height: 3rem"
            >
                Start Marking
            </button>
        </div>
    </div>
</div>

<!-- Model for upload script -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Upload Script</h4>
        <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        ></button>
    </div>
    <div class="modal-body">
        <small>File types accepted: CSV, ZIP, DOC, DOCX, and PDF.</small>
        <div
            style="height: 250px; border: 2px dashed #4277ff"
            class="d-flex flex-column align-items-center justify-content-center my-4"
        >
            <fa-icon
                [icon]="faUpload"
                class="text-primary"
                style="font-size: xxx-large"
            ></fa-icon>
            <input
                type="file"
                id="fileInput"
                class="d-none"
                accept=".pdf, .csv, .doc, .docx, .zip"
                (change)="onFileChange($event.target.files)"
            />
            <button
                class="btn btn-outline-primary my-2"
                onclick="document.getElementById('fileInput').click()"
            >
                Choose file
            </button>
            <p *ngIf="!isSubmitDisabled">{{ uploadedFile.name }}</p>
        </div>
    </div>
    <div class="modal-footer">
        <button
            [disabled]="isSubmitDisabled"
            type="submit"
            class="btn btn-primary"
            (click)="bulkUpload()"
        >
            Submit
        </button>
    </div>
</ng-template>

<!-- Edit Assessment Modal -->
<ng-template #assessmentSetting let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Settings</h4>
        <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        ></button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="assessmentName">Assessment Name</label>
            <input
                type="text"
                class="form-control"
                id="assessmentName"
                [(ngModel)]="newAssessmentName"
            />
        </div>
        <div class="form-group">
            <label for="assessmentType">Assessment Type</label>
            <select
                class="form-select"
                name="assessmentTypes"
                id="assessmentTypes"
                [(ngModel)]="assessment.type"
            >
                <option *ngFor="let type of assessmentTypes" [value]="type">
                    {{ type.replaceAll("_", " ") | titlecase }}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="markingSetting">Default Marking Setting</label>
            <select
                class="form-select"
                name="markingSetting"
                id="markingSetting"
                [(ngModel)]="assessment.marking_setting"
            >
                <option
                    *ngFor="let setting of markingSettings"
                    [value]="setting"
                >
                    {{ setting.replaceAll("_", " ") | titlecase }}
                </option>
            </select>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="rubrics">Rubrics</label>
                <button
                    (click)="openModal(editRubrics, { size: 'xl' })"
                    class="btn btn-outline-primary btn-sm d-inline-block ml-4"
                >
                    Edit Rubrics
                </button>
            </div>
            <div class="form-group col">
                <label for="rubrics">Questions</label>
                <button
                    (click)="openModal(editQuestions, { size: 'xl' })"
                    class="btn btn-outline-primary btn-sm d-inline-block ml-4"
                >
                    Edit Questions
                </button>
            </div>
        </div>
        <hr class="dropdown-divider" />
        <div class="form-group my-4">
            <h4>Collaboration</h4>
            <div class="input-group">
                <span class="input-group-text">Collaborators</span>
                <input
                    type="text"
                    class="form-control"
                    placeholder="Enter email or username"
                    #collaboratorInput
                    (keydown.enter)="onEnterPressed(collaboratorInput)"
                />
            </div>
            <div class="mb-2">
                <small class="text-danger" id="collaborationMsg"></small>
            </div>
            <div class="mt-4" *ngIf="collaborators.length > 0">
                <label for="markingSetting">Current Collaborators</label>
                <mat-chip-list [selectable]="false">
                    <mat-chip
                        *ngFor="let marker of collaborators"
                        (removed)="removeCollaborator(marker)"
                    >
                        {{ marker.username }}: {{ marker.email }}
                        <button matChipRemove>
                            <fa-icon [icon]="faTimesCircle"></fa-icon>
                        </button>
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button
            class="btn btn-danger"
            (click)="openModal(deleteConfirmation, {})"
        >
            Delete Assessment
        </button>
        <button (click)="onSave()" class="btn btn-primary">Save Changes</button>
    </div>
</ng-template>

<!-- * Edit Rubrics Modal -->
<ng-template let-modal #editRubrics>
    <div class="modal-header">
        <h4 class="modal-title">Rubrics</h4>
        <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        ></button>
    </div>
    <div class="modal-body">
        <app-rubrics-input
            #rubricsInput
            [isEditingMode]="true"
            [(rubrics)]="assessment.rubrics"
        ></app-rubrics-input>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary text-white" (click)="modal.close()">
            Cancel
        </button>
        <button
            class="btn btn-primary"
            (click)="saveEditedRubrics(rubricsInput, modal)"
        >
            Confirm
        </button>
    </div>
</ng-template>

<ng-template let-modal #deleteConfirmation>
    <div class="modal-header">
        <h4 class="modal-title">Warning!</h4>
        <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        ></button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this assessment?</p>
    </div>
    <div class="modal-footer">
        <div>
            <button
                (click)="modal.dismiss('Cross click')"
                class="btn btn-outline-primary"
            >
                Cancel
            </button>
            <button
                (click)="deleteAssessment(assessment.id)"
                class="btn btn-danger"
            >
                Delete
            </button>
        </div>
    </div>
</ng-template>

<!-- * Edit Questions Modal -->
<ng-template let-modal #editQuestions>
    <div class="modal-header">
        <h4 class="modal-title">Question</h4>
        <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        ></button>
    </div>
    <div class="modal-body">
        <app-question-input
            #questionsInput
            [(questions)]="assessment.questions"
            [isEditingMode]="true"
        >
        </app-question-input>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary text-white" (click)="modal.close()">
            Cancel
        </button>
        <button
            class="btn btn-primary"
            (click)="saveEditedQuestions(questionsInput, modal)"
        >
            Confirm
        </button>
    </div>
</ng-template>

<mat-spinner
    *ngIf="isLoading"
    [strokeWidth]="2"
    [diameter]="150"
    class="mx-auto mt-5"
></mat-spinner>
