<div class="container" >
    <div class="w-50 mx-auto card" id="content-body">
        <div class="card-body">
            <h2>Welcome to OSM!</h2>
            <p>Sign in to continue</p>
        </div>
        <hr />
        <div class="card-body">
            <form [formGroup]="signupFormGroup" id="signupFormGroup">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="username"
                        id="username"
                        placeholder="Enter username"
                    />
                    <error-message
                        ngDefaultControl
                        [formControl]="username"
                    ></error-message>
                </div>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="firstName"
                        id="firstName"
                        placeholder="Enter first name"
                    />
                    <error-message
                        ngDefaultControl
                        [formControl]="firstName"
                    ></error-message>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="lastName"
                        id="lastName"
                        placeholder="Enter last name"
                    />
                    <error-message
                        ngDefaultControl
                        [formControl]="lastName"
                    ></error-message>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="email"
                        id="email"
                        placeholder="Enter email"
                    />
                    <error-message
                        ngDefaultControl
                        [formControl]="email"
                    ></error-message>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="password"
                        id="password"
                        placeholder="Enter password"
                    />
                    <error-message
                        ngDefaultControl
                        [formControl]="password"
                    ></error-message>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="confirmPassword"
                        id="firstName"
                        placeholder="Enter your password again"
                    />
                    <error-message
                        ngDefaultControl
                        [formControl]="confirmPassword"
                    ></error-message>
                </div>

                <button
                (click)="onSubmit()" class="btn btn-primary d-block w-100">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>
