<div class="">
    <div class="w-50 mx-auto card">
        <div class="card-body">
            <h2>Welcome to OSM!</h2>
            <p>Sign in to continue</p>
        </div>
        <hr />
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input
                        type="email"
                        class="form-control"
                        id="email"
                        aria-describedby="emailHelp"
                        placeholder="Enter email"
                    />
                    <small id="emailHelp" class="form-text text-muted"
                        >We'll never share your email with anyone else.</small
                    >
                </div>
                <div class="form-group">
                    <label for="password1">Password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="password1"
                        placeholder="Password"
                    />
                </div>

                <div class="form-group form-check">
                    <input
                        type="checkbox"
                        class="form-check-input"
                        id="remember-me-check"
                    />
                    <label class="form-check-label" for="remember-me-check"
                        >Remember me</label
                    >
                </div>
                <button type="submit" class="btn btn-primary d-block w-100">
                    Submit
                </button>

                <!-- add forget password link -->
                <div class="text-center mt-2">
                    <a href="#">Forget Password?</a>
                </div>
            </form>
        </div>
    </div>
</div>
